
/* ===== Primary Styles ========================================================
   Author: Adam Elsodaney
   ========================================================================== */

@import url(font.css);

body {
    background: #762646;
    color: #ccc;
}

h1, h2, h3, h4, h5, h6, a.brand {
  font-family: 'MegalopolisExtraRegular' !important;
}

a { color: #7ac919; }

ul.nav-pills li.leaf {
  list-style-image: none;
  list-style-type: none;
}

.nav-pills > li > a {
  background-color: #7b0836;
}

.nav-pills > li > a:hover {
  background-color: #000;
  color: #c6d81b;
}

.navbar .form-actions {
  padding: 0;
}

.region-content {/*
  background: #fff;
  color: #333;
  padding: 10px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
*/
}

.page-middle {
  background: url(../img/mb-wall-4d0c26.png);
}

.node-artwork {
  background: #000;
  color: #ccc;
  padding: 0 5px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.node-artwork.node-teaser {
  margin-bottom: 5px;
}

.node-artwork.node-teaser h4 {
  text-align: center;
  font-size: 0.7em;
}

.pager a, .pager span {
  background-color: #7b0836;
  border-color: #8e3156;
}

/*#d4a539*/
