
/* ===== Primary Styles ========================================================
   Author: Adam Elsodaney
   ========================================================================== */

@import url(font.css);

/* color definitions */ 
.blue        { color: #147cf9; }
.pink        { color: #fc007a; }
.pink-dark   { color: #762646; }
.pink-darker { color: #4d0c26; }
.lime        { color: #7ac919; }

@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
  #main-menu {
    margin-left: 0;
    margin-right: 0;
  }
  ul.nav-pills.nav-stacked li {
    margin-left: 10px;
  }
}

body {
    background: #762646;
    color: #ccc;
}

h1, h2, h3, h4, h5, h6, a.brand {
  font-family: 'MegalopolisExtraRegular' !important;
}

a { color: #7ac919; }
a:hover { color: #147cf9; }

ul.nav-pills li.leaf {
  list-style-image: none;
  list-style-type: none;
}


.navbar-inner {
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #4e395b, #2e2833);
  background-image: -ms-linear-gradient(top, #4e395b, #2e2833);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4e395b), to(#2e2833));
  background-image: -webkit-linear-gradient(top, #4e395b, #2e2833);
  background-image: -o-linear-gradient(top, #4e395b, #2e2833);
  background-image: linear-gradient(top, #4e395b, #2e2833);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'4e395b, endColorstr='#'2e2833, GradientType=0);
  border-bottom-color: #4d0c26;
}
.navbar .brand {
  color: #faff00;
  text-shadow: 0 1px 0 black;
}
.navbar .nav > li > a {
  color: #dbdbdb;
  text-shadow: 0 1px 0 #333333;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
  color: #fc007a;
  background-color: #222222;
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar .divider-vertical {
  background-color: #453647;
  border-right: 1px solid #5c2a6d;
}
.navbar .nav > li > a:hover {
  color: #147cf9;
}


.nav-pills > li > a {
  background-color: #7b0836;
}

.nav-pills > li > a:hover {
  background-color: #000;
  color: #c6d81b;
}

.navbar .form-actions {
  padding: 0;
}

.region-content {/*
  background: #fff;
  color: #333;
  padding: 10px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
*/
}

.page-middle {
  background: #4d0c26 url(../img/mb-wall-4d0c26.png);
}

.node-artwork.node-teaser {
  background: #000;
  color: #ccc;
  padding: 0 5px 10px 5px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  margin-bottom: 5px;
}

.node-artwork.node-teaser h4 {
  text-align: center;
  font-size: 0.7em;
}

.pager a, .pager span {
  background-color: #7b0836;
  border-color: #8e3156;
}

/*#d4a539*/
